
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.TT{
    background-color: black;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caja1{
    background-color: greenyellow;
     height: 200px;
     width: 150px;

}

.caja2{
    
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.caja2>h1{
    font-size: 150px;
    color: aliceblue;
}




